.container {}

.card {}

.front {}

.back {}

.flippable {}

.flipme {}

html {
    min-width: 100%;
    max-width: 900px;
    overflow: hidden;
}

h4 {
    text-align: center;
    position: relative;
    padding-right: 5em;
    margin-right: 180px;
}

body {
    min-width: 100%;
    max-width: 900px;
    width: 100%;
    height: 100%;
    overflow: screen;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

p {
    text-align: center;
}

#front,
#back {
    min-width: 100%;
    max-width: 900px;
    text-align: center;
}

#activeCardButtons {
    min-width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#prev {
    margin-left: 0px;
    padding: 2px;
}

#flip {
    position: absolute;
    width: 50px;
    left: 50%;
    margin-left: -25px;
}

#next {
    float: right;
    margin-right: 15px;
}

#submit {
    position: relative;
    width: 180px;
    margin-left: ;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

#cardForm {
    position: absolute;
    width: 100%;
    margin-left: 50%;
    margin-top: 10px;
}

#front,
#back {
    display: block;
}


/* #front:hover:before{
  position:relative;
  float:left;
  font-size:24px;
  content:'Question/Term:';
  z-index:-1;
  margin-right:-100%;
  margin-top: -6px;
  color:grey;
}
#back:hover:before{ 
  position:relative;
  float:left;
  font-size:24px;
  content:'Answer/Definition:';
  z-index:-1;
  margin-right:-100%;
  margin-top:-8px;
  color:grey;
} */

#clearDeck {
    position: relative;
    width: 360px;
    margin-left: -90px;
    display: block;
}

#clearDeck:hover {
    color: red;
    border: 3px solid red;
}

#formContainer {
    display: block;
    position: relative;
    margin-left: -90px;
    width: 100%;
}

#newTerm {
    position: relative;
    width: 180px;
    margin-top: 10px;
    display: block;
}

#newDef {
    position: relative;
    width: 180px;
    margin-top: 10px;
}

hr {
    margin-left: -8px;
}